body{
    background-color: skyblue;
}
/* ............................................ logo-container .......................................................  */
#logo{
    display: inline-block;
    margin: auto;

}
/* .............................................Reminder entry container........................................................... */
#rem-entry-container{
    width: 80%;
    border: 2px solid lightcoral;
    margin: auto;
}
#des-container{
    width: 70%;
    margin: auto;
}
#rem-entry-details{
    display: flex;
    flex-wrap: wrap;
}
#category-container{
    display: inline-block;
    width: 40%;
    padding: 10px;

}
#category{
    width: 70%;
    background-color: lightcoral;
    border-color: transparent;
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 2rem;
    opacity: 0.8;
}
#txtarea{
    background-color: lightcoral;
    opacity: 0.8;
    width: 70%;
    height: 20px;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 0px;
    border-radius: 2rem;
}
#date-container{
    vertical-align: top;
    padding: 10px;
    display: inline-block;
    width: 25%;
}
.date-time{
    background-color: lightcoral;
    border:0px solid transparent;
    padding: 5px;
    font-size: 1.3rem;
    border-radius: 2rem;
    opacity: 0.8;
}
.btn{
    padding: 10px 20px;
    cursor: pointer;
    border: 0px;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    color: white;
}
.blue{
    background-color: #1e88e5;
}
.red{
    background-color: #e92626;
}
/* ............................................ Upcoming reminders container................................................................ */
.reminder-container{
    margin-top: 5px;
    padding-bottom: 7px;
    border-bottom: 2px solid coral;
    display: flex;
    justify-content: space-between;
    animation: fadeinout 0.75s;

}
@keyframes fadeinout {
    from{opacity: 0;}
    to{opacity: 1;}
}
.chkbox{
    display: inline-block;
    width: 5%;
    padding-top: 10px;

}
#e1{
    height: 40px;
    width: 40px;
}
/* ............reminder details................ */
.reminder-details{
    display: inline-block;
    width: 60%;
    margin: 5px;
    text-align: left;
    padding-left: 20px;
}
.reminder-details label{
    font-size: 2rem;
    color: coral;
    font-weight: bold;
}
.rem-category{
    display: inline-block;
    width: 20%;
    padding-top: 12px;
}
.cat-btn{
    font-size: 2rem;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 2rem;
}
.coral{
    background-color: #db5454;
}
.yellow{
    background-color: #5054d1;
}
.teal{
    background-color: teal;
}
.purple{
    background-color: purple;
}
/* ...................................... */
#to-remind-container{
    width: 80%;
    border: 2px solid white;
    margin: auto;
    
}
#rem-header{
    width: 100%;
    display: flex;
    background-color: lightcoral;
}
.dis-rem-box{
    display: inline-block;
    width: 15%;
    overflow: hidden;
    font-size: 1.5rem;
    padding: 9px;
    color: white;
    background-color: lightcoral;
    opacity: 0.8;
    border: 2px sold darkorange;
}.dis-rem-box:hover{
    cursor: pointer;
    background-color: #db5454;
}
.dis-rem-box.active{
    background-color: #f51111;
}
#show{
    position: relative;
    border: 1px solid white;
    min-height: 200px;
}
.show-rem{
    width: 100%;
    min-height: 200px;
    background-color: white;
    position: absolute;
    display: none;
}
#icon{
    height: 25px;
    width: 25px;
}
#date-time{
    font-size: 1rem;
}